{% load static %} {% include 'DRF_header.html' %} {% block main_content %}
<div class="container">
  <h1>Add Appointment</h1>
  <hr>
  <form>
  
    <div class="form-row">
     
        <div class="form-group col-md-4">
            <label for="inputState">Doctor</label>
            <select id="inputState" class="form-control">
              <option selected>Choose Doctor</option>
              <option>Mehmood</option>
              <option>Ahmad</option>
              <option>Badar</option>
            </select>
         
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Patient</label>
            <select id="inputState" class="form-control">
              <option selected>Choose Patient</option>
              <option>Amir</option>
              <option>Hamid</option>
              <option>Ayesha</option>
            </select>
          
        </div>
        
      <div class="form-group col-md-4">
        <label for="appoint_date">Appointment Date</label>
        <input type="date" class="form-control" id="appoint_date" />
      </div>

    
      <div class="form-group col-md-6">
        <label for="inputState">&nbsp;</label>
        <button type="submit" class="btn btn-success">Submit</button>
        <label for="inputState">&nbsp;</label>

    <button type="button" class="btn btn-primary"><a style="text-decoration: none;color: white;" href="{% url "appointment_list" %}">View List</a></button>
      </div>



    
  </form>
</div>
{% endblock main_content %} {% include 'DRF_footer.html' %}
