{% load static %}
{% include 'DRF_header.html' %}
{% include 'DRF_slider.html' %}
{% block main_content %}
<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Products
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Products</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'add_products' %}">
            {% csrf_token %}
            <div class="col-md-12">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" name="name" required><br>
              <label for="value" class="col-form-label">Value:</label>
              <input type="text" class="form-control" name="value" required><br>
              <label for="value" class="col-form-label">Date:</label>
              <input type="date" class="form-control" name="date" required><br>
              <!-- Add other fields as needed -->
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
        <th scope="col">date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for data in data %}
        <td scope="row">{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.value }}</td>
        <td>{{ data.date }}</td>
        <td>
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3" data-bs-toggle="modal"
              data-bs-target="#update_data">
              Edit

              <i class="typcn typcn-edit btn-icon-append"></i>

            </button>
            <!-- Modal -->
            <div class="modal fade" id="update_data" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="update_data">Edit Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-2" method="post" action="{% url 'update_product' data.id  %}">
                      {% csrf_token %}
                      <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" value="{{ data.name }}" name="name">
                      </div>
                      <div class="col-md-6">
                        <label for="value" class="form-label">Value</label>
                        <input type="text" class="form-control" id="value" value="{{ data.value }}" name="value">
                      </div>
                      <div class="col-6">
                        <label for="group" class="form-label">Date</label>
                        <input type="date" class="form-control" id="group" value="{{ data.date }}" name="date">
                      </div>
                      <br>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </div>


            <button type="button" class="btn btn-danger btn-sm btn-icon-text">
              Delete
              <i class="typcn typcn-delete-outline btn-icon-append"></i>
            </button>
          </div>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>







</div>


{% endblock main_content %}
{% include 'DRF_footer.html' %}