{% load static %}
{% include 'DRF_header.html' %}

{% block main_content %}






<div class="container">
  <h1>Doctor List</h1>
  <hr>
<div class="card">
    <div class="table-responsive pt-3">
      <table class="table table-striped project-orders-table">
        <thead>

          <tr>
            <th class="ml-5">ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Specilization</th>
            <th>Profile Picture</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for doctor in doctor %}
          <tr>
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.user.username }}</td>
            <td>{{ doctor.email }} </td>
            <td>{{ doctor.phone }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>
              <img src="{{ doctor.profile_image.url }}" alt="{{ doctor.user.username }}'s Profile Image" width="200%">
            </td>
            <td>
              <div class="d-flex align-items-center">
                <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3">
                  Edit
                  <i class="typcn typcn-edit btn-icon-append"></i>                          
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                  Delete
                  <i class="typcn typcn-delete-outline btn-icon-append"></i>                          
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
       
        </tbody>
      </table>
    </div>
  </div>
</div>

  {% endblock main_content %}
  {% include  'DRF_footer.html' %}