{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hospital Management System</title>
  <!-- base:css -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!--Font Awesome-->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="row" id="proBanner">
    <i class="" id="bannerClose"></i>
  </div>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"
              alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img
              src="{% static 'images\allied_tajar.jpg' %}" alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        {% if request.user.is_authenticated %}

       

        <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs" src="{% static 'images/logo.png' %}" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ request.user.username }}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="{% url 'login' %}">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    
    {% else %}
    {% endif %}
    <!-- partial -->
   
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>



      
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Dashboard</span>

            </a>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == 'add_doctor' %} active{% endif %}">
            <a class="nav-link" href="{% url 'add_doctor' %}">
              <span class="menu-title">Add Doctor</span>
            </a>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == 'doctor_list' %} active{% endif %}">
            <a class="nav-link" href="{% url 'doctor_list' %}">
              <span class="menu-title">View Doctors List</span>
            </a>
          </li>
          
       

          <li class="nav-item{% if request.resolver_match.url_name == 'add_appointment' %} active{% endif %}">

            <a class="nav-link" href="{% url 'add_appointment' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Add Appointment</span>

            </a>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == 'appointment_list' %} active{% endif %}">

            <a class="nav-link" href="{% url 'appointment_list' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Appointment List</span>

            </a>
          </li>



          <li class="nav-item{% if request.resolver_match.url_name == 'add_staff' %} active{% endif %}">

            <a class="nav-link" href="{% url 'add_staff' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Add Staff</span>

            </a>
          </li>

          <li class="nav-item{% if request.resolver_match.url_name == 'staff_list' %} active{% endif %}">

            <a class="nav-link" href="{% url 'staff_list' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Staff List</span>

            </a>
          </li>

          <li class="nav-item{% if request.resolver_match.url_name == 'add_patient' %} active{% endif %}">

            <a class="nav-link" href="{% url 'add_patient' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Add Patient</span>

            </a>
          </li>

          <li class="nav-item{% if request.resolver_match.url_name == 'patient_list' %} active{% endif %}">

            <a class="nav-link" href="{% url 'patient_list' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Patient List</span>

            </a>
          </li>


          <li class="nav-item{% if request.resolver_match.url_name == 'add_inventory' %} active{% endif %}">

            <a class="nav-link" href="{% url 'add_inventory' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Add  Inventory</span>

            </a>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == 'inventory_list' %} active{% endif %}">

            <a class="nav-link" href="{% url 'inventory_list' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Inventory Report</span>

            </a>
          </li>


          <li class="nav-item{% if request.resolver_match.url_name == 'add_medical_record' %} active{% endif %}">

            <a class="nav-link" href="{% url 'add_medical_record' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Add Medical Report</span>

            </a>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == 'medical_records' %} active{% endif %}">

            <a class="nav-link" href="{% url 'medical_records' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Medical Report</span>

            </a>
          </li>


          <li class="nav-item{% if request.resolver_match.url_name == 'billing' %} active{% endif %}">

            <a class="nav-link" href="{% url 'billing' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Add Bill</span>

            </a>
          </li>

          <li class="nav-item{% if request.resolver_match.url_name == 'view_bill' %} active{% endif %}">

            <a class="nav-link" href="{% url 'view_bill' %}">
              <!-- <i class="typcn typcn-device-desktop menu-icon"></i> -->
              <span class="menu-title">Bill Report</span>

            </a>
          </li>



        </ul>
      </nav>
      <!-- partial -->