
<!DOCTYPE html>
<!-- Created By CodingNepal -->
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Transparent Login Form HTML CSS</title>
      <link rel="stylesheet" href="{% static "css/register.css" %}" >
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="bg-img">
         <div class="content">
            <header>Login Form</header>
            <form  method='post'>
              {% csrf_token %}
              {{ form|crispy }}
     
             <input class="btn btn-success" style="margin-left:40%" type="submit" value="Register">
             <br>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <div class="facebook">
                  <i class="fab fa-facebook-f"><span>Facebook</span></i>
               </div>
               <div class="instagram">
                  <i class="fab fa-instagram"><span>Instagram</span></i>
               </div>
            </div>
            <div class="signup">
               Don't have account?
               <a href="{% url "user_register" %}">Signup Now</a>
            </div>
         </div>
      </div>
     
   </body>
</html>












